/*
* Isa Leijdekkers
* 10606467
*
*/

/* style title */
h3 {
  font-family: optima;
  font-size: 20px;
  text-indent: 420px;
}

/* style text on axis */
	.axis {
	  font-family: optima;
    font-size: 12px;
	}

/* style axis */
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

  body {
    background-color: whitesmoke;
    font-family: optima;
    font-size: 12px;
}


.crop img {
    width: 450px;
    height: 250px;
    left: 390px;
    position: relative;
}

svg {
    top: 400px;
    position: absolute;
}
