/*
* Isa Leijdekkers
* 10606467
*/

/* style text */
#text1 {
	font-family: optima;
  font-size: 15px;
	position: relative;
	text-align: center;
}

/* style text on axis */
.axis {
	font-family: optima;
	font-size: 12px;
}

/* style axis */
.axis path,
.axis line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: black;
}

/* style background */
html,
body {
  background: whitesmoke !important;
}

/* style header */
.page-header {
	font-family: optima;
  text-align: center;
	background: lightgrey;
	height: 100px;
}

/* style footer */
.footer {
	clear:both;
	height: 150px;
	margin-top:230px;
	padding-top:50px;
  position:relative;
}

/* style timeline */
#timeline {
	left: 70px !important;
  position: relative;
  top: 35px !important;
}

/* style text */
#nodata {
	font-family: optima;
	left: 155px !important;
  position: relative;
	top: -25px !important;
}

/* style text with explanation */
#explanation {
	background: lightsteelblue;
	border-radius: 5px;
	display: none;
	font-family: optima;
	font-size: 13px;
	height: 155px;
	left: -26px;
	padding: 2px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 160px;
	z-index: 1;
}

/* display explanation on hover */
#nodata:hover #explanation {
	display: block;
}

/* style barchart */
#barchart {
	font-family: optima;
	left: 70px !important;
  position: relative;
	top: 80px !important;
}

/* style bars */
.bar {
  fill: lightslategrey;
}

/* style bars when hovering */
.bar:hover {
  fill: lightsteelblue;
}

.bar.clicked {
  fill: lightsteelblue;
}

/* style tip barchart*/
.d3-tip {
	background: whitesmoke;
	font-family: optima;
	font-size: 13px;
}

/*style checkbox*/
label {
	font-family: optima;
	font-size: 13px;
	height: 13px;
	left: -645px;
	position: relative;
	top: 90px;
}

input {
	position: relative;
}

/* style title */
#title1 {
  position: relative;
	font-family: optima;
  text-align: center;
	top: 40px;
  font-size: 18px;
}

/* style text */
#text2 {
	font-family: optima;
	font-size: 13px;
	left: 105px;
	position: relative;
  text-align: center;
	top: -460px;
}

/*style linegraph*/
#linegraph {
	display: block;
	font-family: optima;
	height: 100%;
	left: 80px !important;
  position:relative;
	top: 220px !important;
	width: 100%;
}

/* style line */
.line {
	fill: none;
  stroke: lightgrey;
	stroke-width: 1.5px;
}

/* style line */
.line.searched {
  stroke: dimgrey;
	stroke-width: 3px;
}

/* style line */
.line.clicked {
  stroke: firebrick;
	stroke-width: 3px;
}

/* style line */
.line.hovered {
  stroke: darkslategrey;
	stroke-width: 3px;
}

#myInput {
	top: -330px;
	left: 65px;
}

/* style title */
#title2 {
	font-family: optima;
	font-size: 18px;
	position: relative;
  text-align: center;
	top: 160px;
}

/* style text */
#text3 {
	font-family: optima;
	font-size: 13px;
	left: 100px;
	position: relative;
  text-align: center;
	top: -340px;
}

/*style bubblechart*/
#bubblechart {
	font-family: optima;
	left: -60px !important;
	position:relative;
	top: 180px !important;
}

/*style tip bubblechart*/
div.tooltip {
	background: lightsteelblue;
  border-radius: 5px;
	display: inline-block;
	font-family: optima;
	font-size: 13px;
	height: 50px;
	padding: 2px;
	pointer-events: none;
  position: absolute;
  text-align: center;
	vertical-align: middle;
  width: 150px;
}

/* style stroke bubble */
.bubble.clicked {
  stroke: black;
	stroke-width: 3px;
}

/* style stroke bubble */
.bubble.hovered {
  stroke: black;
	stroke-width: 3px;
}

/* style title */
#title3 {
	font-family: optima;
	font-size: 18px;
	left:20px;
	position: relative;
  text-align: center;
	top: 250px;
}

/* style text */
#text4 {
	font-family: optima;
	font-size: 15px;
	left: -80px;
	position: relative;
	top: 380px;
}

/* style text */
#text5 {
	font-family: optima;
	font-size: 13px;
	left: 315px;
	position: relative;
  text-align: center;
	top: -350px;
}

/* style deselect button */
#button {
  font-family: optima;
	left:27px;
	top: 2080px;
}

/* style information */
#about {
	background: lightgrey;
	font-family: optima;
	font-size: 14px;
	padding: 40px;
	position: relative;
  text-align: center;
	top: 300px;
	width: 1270px;
}

/* style title */
#title4 {
	font-size: 16px;
}
