/*
* Isa Leijdekkers
* 10606467
*
*/

/* style text on axis */
	.axis {
	  font-family: optima;
    font-size: 12px;
	}

/* style axis */
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

html,
body {
    background: whitesmoke !important;
}

.img-responsive {
  margin: 0 auto;
}

.page-header {
  text-align: center;
  font-family: optima;
}

.footer {
  position:relative;
  margin-top:230px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:50px;
}

#timeline {
  position:relative;
  top: 71px !important;
  left: 50px !important;
}

#nodata {
  position:relative;
	top: 10px !important;
  left: 172px !important;
	font-family: optima;
}

#barchart {
  position:relative;
	top: 120px !important;
  left: 75px !important;
	font-family: optima;
}

/* style bars */
  .bar {
    fill: darkgrey;
  }

/* style bars when hovering */
  .bar:hover {
    fill: lightgrey;
  }

/* style text on axis */
	.axis {
	  font-family: optima;
    font-size: 12px;
	}

	/* style axis */
		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

	/* style tip */
	  .d3-tip
	  {
	    font-family: optima;
	    font-size: 13px;
	  }

		label {
			height: 13px;
			position: relative;
			top: 460px;
			left: 70px;
			font-family: optima;
	    font-size: 13px;

		}
		input {

		  position: relative;

		}

		#custom-search-form {
		 margin:0;
		 margin-top: 5px;
		 padding: 0;
 }

 #custom-search-form .search-query {
		 padding-right: 3px;
		 padding-right: 4px \9;
		 padding-left: 3px;
		 padding-left: 4px \9;
		 margin-bottom: 0;
		 -webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
		 border-radius: 3px;
 }

 #custom-search-form button {
		 border: 0;
		 background: none;
		 /** belows styles are working good */
		 padding: 2px 5px;
		 margin-top: 2px;
		 position: relative;
		 left: -28px;
		 /* IE7-8 doesn't have border-radius, so don't indent the padding */
		 margin-bottom: 0;
		 -webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
		 border-radius: 3px;
 }

 .outer {
    width: 700px;
    height: 700px;
    overflow: auto;
}
.inner {
    width: 800px;
    height: 600px;
}

#linegraph {
  position:relative;
	top: 120px !important;
	font-family: optima;
	display: block;
	width: 100%;
	height: 100%;
}

#bubblechart {
  position:absolute;
	left: 740px !important;
	top:440px !important;
	font-family: optima;
}
